@using RunGroupWebApp.Data.Enum
@model Club

<h1>Are you sure ypu want to delete this?</h1>
<form method="post" asp-action="Delete" enctype="multipart/form-data">
    <input type="hidden" value="AddressId" id="AddressId" />
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" disabled placeholder="Enter Title">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" disabled placeholder="Add Description">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ClubCategory">Club Category</label>
        <select asp-for="ClubCategory" asp-items="@Html.GetEnumSelectList<ClubCategory>()" class="form-control" disabled placeholder="Add Race Category">
            <option>---Select---</option>
        </select>
        <span asp-validation-for="ClubCategory" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.Street">Street</label>
        <input asp-for="Address.Street" class="form-control" disabled placeholder="Add Street Name">
        <span asp-validation-for="Address.Street" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.City">City</label>
        <input asp-for="Address.City" class="form-control" disabled placeholder="Add City Name">
        <span asp-validation-for="Address.City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.State">State</label>
        <input asp-for="Address.State" class="form-control" disabled placeholder="Add State Name">
        <span asp-validation-for="Address.State" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.Country">Country</label>
        <input asp-for="Address.Country" class="form-control" disabled placeholder="Add Country Name">
        <span asp-validation-for="Address.Country" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.PostalCode">Postal Code</label>
        <input asp-for="Address.PostalCode" class="form-control" disabled placeholder="Add Postal Code">
        <span asp-validation-for="Address.PostalCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image">Image</label>
        <input asp-for="Image" class="form-control" type="file" disabled placeholder="Add Image">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
</form>
<div class="form-group">
    <form action="Delete" method="post">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" name="Confirm" class="btn btn-danger float-right mt-3" />
    </form>
</div>